{{! För att kunna skicak data till databasen }}
<form action="/new-song" method="post">
  <br />
  <input type="text" name="artist" placeholder="Artist" />
  <br />
  <input type="text" name="song" placeholder="Song" />
  <br />
  <input type="submit" class="btn" />
</form>